name: Publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: nowsprinting/check-version-format-action@v3
        id: version
        with:
          prefix: "v"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  helm-publish:
    needs:
      - docker-publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: nowsprinting/check-version-format-action@v3
        id: version
        with:
          prefix: "v"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.HELM_DEPLOY_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.HELM_DEPLOY_SECRET }}
          aws-region: ${{ vars.HELM_DEPLOY_REGION }}

      # Replace the values.yaml version field with the new version
      - name: Update image version in the values.yaml
        run: |
          sed -i "s/REPLACED_BY_CI/${{ steps.version.outputs.full }}/g" helm/values.yaml

      - name: Publish chart
        uses: danielemery/helm-release-action@f19adb815088a067bb839b224decb0611072652d
        with:
          repo: s3://helm.demery.net/
          chart: ./helm
          version: ${{ steps.version.outputs.full }}
          appVersion: ${{ steps.version.outputs.full }}
