name: Test

on:
  push:
    branches: ["main", "next"]
  pull_request:
    branches: ["main", "next"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.6.8

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Check typescript
        run: deno check main.ts

      - name: Run tests
        env:
          DOPPLER_ENVIRONMENT: gitlab_ci
          KEYS_VERSION: gitlab_ci
        run: |
          deno test --allow-read --coverage=coverage
          deno coverage ./coverage --lcov --output=coverage.lcov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
